@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  src: url('./fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Sofia';
  font-weight: 300;
  src: url('./fonts/Sofia-Regular.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: url('./fonts/MerriweatherSans-Regular.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.article_wrapper {
  margin: 0;
  background-color: #FEFEFE;
}

article {
  font-family: "Lato", "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  width: 40%;
  margin: 0 auto;
  padding: 40px 120px 40px 120px;
  border-left: 1px solid #D2D2D2;
  border-right: 1px solid #D2D2D2;
  background-color: white;
  color: #333;
}

article h1, article h3, .footer h3, .footer.thought h1 {
  font-family: "Sofia", "PT Serif", Georgia, "Times New Roman", serif;
}

@media (max-width: 720px) {
  /*article h1 {
    margin-top: -100px; /* OPO issue
  }*/

  article {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer p {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  article {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
